<?xml version="1.0" encoding="UTF-8"?>
<!-- 
This is an example launchd script for MacOS. It was written under 10.9.1. 
You'll have to modify some arguments below to get this working on your box.
Unfortunetly I was unable to get any environment variables working in the launchd script.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.ngrok.client</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/ngrok</string>
		<string>-log</string>
		<string>stdout</string>
		<string>-subdomain</string>
		<string>mySubDomain</string>
		<string>80</string>
	</array>
	<key>StandardOutPath</key>
	<string>/tmp/ngrok.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/ngrok.log</string>
</dict>
</plist>
