*.swp
bin/
pkg/
src/code.google.com
src/github.com
src/bitbucket.org
src/launchpad.net
src/gopkg.in
src/golang.org
src/ngrok/client/assets/
src/ngrok/server/assets/
device.crt
device.csr
device.key
rootCA.key
rootCA.pem
rootCA.srl
