{{ define "body" }}

{{ with $json := handleJson . }}
    <pre><code class="json">{{ $json.Str }}</code></pre>
    {{ with $json.Err }}
        <div class="alert">{{ $json.Err }}</div>
    {{ end }}
{{ end }}

{{ with $form := handleForm . }}
    <h6>Form Params</h6>
    <table class="table params">
    {{ range $key, $values := $form }}
        {{ range $value := $values }}
            <tr>
                <th>{{ $key }}</th>
                <td>{{ $value }}</td>
            </tr>
        {{ end }}
    {{ end }}
    </table>
{{ end }}

{{ end }}
